fastapi
uvicorn
pydantic
sqlalchemy
asyncpg
databases
python-dotenv
psycopg2-binary
passlib[bcrypt]
loguru
databases[asyncpg]
bcrypt
pyjwt
databases[postgresql]
unidecode 
httpx==0.27.2
